
<div class="container">
    <div class="row my-3">
        
        <div class="form-group col-12">
            <h3 class="text-center">Modifica la banda</h3>
          <label class="mt-3 text-white" for="">Nombre</label>
          <input type="text"
            class="form-control" name="" id="" [formControl]="nombre" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-white">Introduce el nombre de la banda</small>
          <label class="mt-3 text-white" for="">Video</label>
          <input type="text"
            class="form-control" name="" id="" [formControl]="video" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-white">Introduce un video de la banda</small>
          <label class="mt-3 text-white" for="">Imagen-URL</label>
          <input type="text"
            class="form-control" name="" id="" [formControl]="imagenURL" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-white">Introduce una url de una imagen de la banda</small>
          <label class="mt-3 text-white" for="">Año</label>
          <input type="number"
            class="form-control" name="" id="" [formControl]="anio" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-white">Año de fundación de la banda</small>
          <label class="mt-3 text-white" for="">Historia</label>
          <textarea type="text"  rows="10" cols="50"
            class="form-control" name="" id="" [formControl]="historia" aria-describedby="helpId" placeholder=""></textarea>
          <small id="helpId" class="form-text text-white">Introduce la historia de la banda</small>
          <label class="mt-3 text-white" for="">Integrantes</label>
          <input type="text"
            class="form-control" name="" id="" [formControl]="integrantes" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-white">Introduce los integrantes de la banda separados por comas (ejem : pepe, juan)</small>
          <button type="button" class="btn btn-warning btn-block btn-lg mt-3" (click)="editBanda()">Actualizar</button>
        </div>
    </div>
    <button class="add-movie-button" (click)="volver()"></button>
</div>