<div class="content">
  <input
    class="search-bar col-12 my-2 p-4"
    type="text"
    name=""
    id=""
    placeholder="Search"
    [(ngModel)]="filtrarBanda"
  />

  <div
    class="card-item dark"
    *ngFor="let banda of bandas | filter: filtrarBanda"
    (click)="verDetalleBanda(banda)"
  >
    <ng-container *ngIf="banda.imagen">
      <img src="{{banda.imagen}}" alt="" /> 
      <div class="tag background">
        <a href="">{{ banda.nombre }}</a>
      </div>
    </ng-container>

    <div class="text-content">
      <div class="text-title">
        {{ banda.nombre }}
      </div>
      <span class="date">{{ banda.anio }}</span>
      <hr />
      <div class="text"><p>{{ banda.historia }}</p></div>
    </div>
    <div class="content-button">
      <button class="btn" (click)="borrarBanda(banda)">Quitar</button>
      <button class="btn" (click)="editarBanda(banda)">Editar</button>
    </div>
  </div>

  <button class="add-movie-button" (click)="addBanda()"></button>
</div>
