
.search-bar {
    border-radius: 10px;
}

.add-movie-button {
  background: transparent;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding: 10px 10px 10px 10px;
  background-image: url("../../assets/plus-circle-solid.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  z-index: 99;
}

.add-movie-button:active {
  color: black;
  background-color: white;
}

.add-movie-button:focus-visible {
  outline: none !important;
  border: none !important;
}

/* .card {
	padding: 0px;
} */

.content {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  columns: 4;
  column-gap: 40px;
}

.card-item {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #666;
  margin-bottom: 20px;
  overflow: hidden;
  break-inside: avoid;
}

.card-item:hover {
  box-shadow: 5px 5px 15px #666;
}

.card-item img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text-content {
  position: relative;
  padding: 10px;
  top: -40px;
}

.text-title {
  font-size: 20px;
  font-weight: 700px;
  color: white;
}

.text {
  justify-content: center;
  color: white;
}

.text:hover {
  text-decoration: underline white;
}

.date {
  font-size: small;
  color: white;
}

.tag {
  padding: 10px;
  position: relative;
  top: -45px;
}

.background {
  background-color: rgb(51, 48, 48);
  opacity: 0.6;
}

.dark {
  background-color: rgb(51, 48, 48);
}

.tag a {
  color: rgb(250, 202, 144);
  text-decoration: none;
  font-size: larger;
  font-weight: 600;
  opacity: 1;
}

.tag a:hover {
  color: rgb(146, 127, 104);
}

.btn:hover {
  background-color: rgb(228, 166, 170);
}
.btn:last-child:hover {
  background-color: rgb(245, 206, 159);
}

.content-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn {
  font-family: "Times New Roman", Times, serif;
  border-radius: 0px;
  background-color: white;
}
.btn:last-child {
  font-family: "Times New Roman", Times, serif;
  border-radius: 0px;
  background-color: white;
  border-bottom-right-radius: 15px;
}

@media (max-width: 575.98px) {
  .content {
    columns: 1;
    margin-right: 10%;
    margin-left: 10%;
  }
  .text {
    overflow: hidden;
    max-height: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .content {
    columns: 2;
    margin-right: 10px;
    margin-left: 10px;
  }
  .text {
    overflow: hidden;
    max-height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .content {
    columns: 2;
    margin-right: 10%;
    margin-left: 10%;
  }
  .text {
    overflow: hidden;
    max-height: 200px;
  }
}

@media (min-width: 1200px) and (max-width: 1300.98px) {
  .content {
    columns: 3;
    margin-right: 80px;
    margin-left: 80px;
  }

  .tag {
    width: 80%;
  }
}

@media (min-width: 1300px) {
  .content {
    margin-right: 50px;
    margin-left: 50px;
    columns: 4;
  }
  .tag {
    width: 60%;
  }
}
